html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.card-link {
    text-decoration: none;
    color: white;
}


.origin {
    background: #2196f3;
    color: #fff;
}

.temperature {
    background: #607D8B;
    color: #fff;
}

.temperature p {
    margin: 0px;
}

.temperature h3 {
    margin: 0px;
}

.destination {
    background: #f44336;
    color: #fff;
}

.waypoints {
    background: #ffc107;
}

.waypoints a {
    color: black;
}

.highlight {
    color: #f00;
    font-weight: bold;
}

#map {
    height: 100%;
}

.image-card-container {
    margin: 2px;
}

.image-card {
    max-width: 100%;
    height: 200px;
    padding: 2px;
}

.image-icon {
    vertical-align: middle;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    padding: 0px;
}

.price {
    border-left: thick solid #FFF;
    padding-left: 5px;
}

.travel-date {
    vertical-align: middle;
    margin-left: 5px;
}

.round-icon {
    margin-right: 10px;
    background: #ECEFF1;
    display: inline-block;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
}
