<div ui-view="map" flex="50" layout="row">
    <div layout="row" flex>
        <google-map data="data" path="path"></google-map>
    </div>
</div>
<div ui-view="content" flex layout="column">    
    <md-content flex>
        <md-card layout="row">
            <h4 class="travel-date">Travel Dates</h4>
            <md-button ng-repeat="day in dayLength" ng-click=changeDay($index) class="md-fab md-mini md-primary" ng-class="{'md-warn': $index == dayIndex}">
                {{$index + 16}}
            </md-button>
        </md-card> 

            
        <md-card ng-show="temperature">
            <md-card-content class="temperature">
                <div layout="row">
                <div>
                    <img ng-src="{{temperature.icon}}" class="round-icon"><img>     
                </div layout="row">
                    <div layout="column" flex>
                        <h3>{{temperature.temp.day}} °C</h3>
                        <p>{{temperature.description}}</p>
                    </div>              
                    <div layout="column">
                        <p>min: {{temperature.temp.min}} °C</p>
                        <p>max: {{temperature.temp.max}} °C</p>
                    </div>                        
                </div>

                              
            </md-card-content>
        </md-card>

        <md-card ng-show="origin">
            <md-card-content class="origin">
                <h2 class="md-title" flex>
                    <a ng-href="{{origin.link}}" target="_blank" class="card-link">{{origin.name}}</a>
                </h2>
                <p>{{origin.date}} {{origin.time}}</p>
                <p>{{origin.description}}</p>
            </md-card-content>
        </md-card>

        <md-card ng-show="originInfo">
            <md-card-content ng-style="{'background': originInfo.color}">
                <p>
                    <img src="img/car.png" class="image-icon" ng-if="(originInfo.info.duration >= 6)"></img>
                    <img src="img/walking.png" class="image-icon" ng-if="(originInfo.info.duration < 6)"></img>
                    <strong>{{originInfo.info.duration | number:0}} min</strong> [ {{originInfo.info.distance}} km ]
                </p>
            </md-card-content>
        </md-card>

        <md-card ng-repeat="item in waypoints">
            <md-card-content class="waypoints" ng-if="(($index % 2) === 0)">
                <h2 class="md-title">
                    <a ng-href="{{item.link}}" target="_blank" class="card-link">{{item.name}}</a>
                </h2>
                <p>{{item.date}} {{item.time}} <span class="highlight">({{item.duration}})</span></p>
                <p>{{item.description}}</p>

                <div layout="row">
                    <div ng-repeat="image in item.images" class="image-card-container">
                        <img ng-src="{{image}}" class="image-card">
                    </div>
                </div>
            </md-card-content>

            <md-card-content ng-style="{'background': item.color}" ng-if="(($index % 2) !== 0)">
                    <p> 
                        <img src="img/car.png" class="image-icon" ng-if="(item.info.duration >= 6)"></img>
                        <img src="img/walking.png" class="image-icon" ng-if="(item.info.duration < 6)"></img>
                        <strong>{{item.info.duration | number:0}} min</strong> [ {{item.info.distance}} km ]
                    </p>
                </md-card-content>
        </md-card>

        <md-card ng-show="destinationInfo">
            <md-card-content ng-style="{'background': destinationInfo.color}">
                <p> 
                    <img src="img/car.png" class="image-icon" ng-if="(destinationInfo.info.duration >= 6)"></img>
                    <img src="img/walking.png" class="image-icon" ng-if="(destinationInfo.info.duration < 6)"></img>
                    <strong>{{destinationInfo.info.duration | number:0}} min</strong> [ {{destinationInfo.info.distance}} km ]
                </p>
            </md-card-content>
        </md-card>

        <md-card ng-show="destination">
            <md-card-content class="destination">
                <h2 class="md-title">
                    <a ng-href="{{destination.link}}" target="_blank" class="card-link">{{destination.name}}</a>
                </h2>
                <p>{{destination.date}} {{destination.time}}</p>
                <p>{{destination.description}}</p>
                <p ng-if="destination.type === 'hotel'" class="price">{{destination.hotel.price / 5}} {{origin.hotel.currency}} per person</p>
            </md-card-content>
        </md-card>
    </md-content>
</div>


